{% extends 'base.html' %}
{% block main %}
  <div>{{ course['course_id'] }}, {{ course['name'] }}</div>
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>grade</th>
      </tr>
    </thead>
    <tbody>
    {% for grade_and_student in grades_and_students %}
      <tr>
        <td>{{ grade_and_student['name'] }}</td>
        <td>{{ grade_and_student['grade'] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div>summary</div>
  <table>
    <thead>
      <tr>
        <th>grade</th>
        <th>count</th>
      </tr>
    </thead>
    <tbody>
    {% for letter in ['a', 'b', 'c', 'd', 'e', 'f'] %}
      {% if grade_count[letter] > 0 %}
        <tr>
          <td>{{ letter.upper() }}</td>
          <td>{{ grade_count[letter] }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <br>
  <form action="/add_grade" method="POST">
    <input name="locked_course_id" type="hidden"
        value="{{ course['course_id'] }}">
    <input type="submit" value="add grade (POST)">
  </form>
  <br>
  <form action="{{ url_for('form_add_grade', source=course['course_id']) }}">
    <input type="submit" value="add grade (url_for())">
  </form>
  <br>
  <form action="/add_grade_{{ course['course_id'] }}">
    <input type="submit" value="add grade (/add_grade_{course_id})">
  </form>
  <br>
{% endblock %}
