{% extends 'base.html' %}
{% block main %}
  <p></p>
  <p>
    <a href="{{ url_for('login') }}">login</a>
  </p>
  <p></p>
  <p>
    <a href="{{ url_for('user_info') }}">user info</a>
  </p>
  <p></p>
  <p>
    <a href="{{ url_for('session_info') }}">session info</a>
  </p>
  <p></p>
  <p>
    <a href="{{ url_for('index') }}">index</a>
  </p>
  <p></p>
{% for key, value in scs.items() %}
  <p>{{ key }}: "{{ value }}"</p>
{% endfor %}
  <p></p>
  <p>
    <a href="{{ url_for('clear_session') }}">clear session</a>
  </p>
  <p></p>
{% endblock %}
