{% extends 'base.html' %}
{% block main %}
  <p></p>
  <p>
    <a href="{{ url_for('login') }}">login</a>
  </p>
  <p></p>
  <p>
    <a href="{{ url_for('user_info') }}">user info</a>
  </p>
  <p></p>
  <p>
    <a href="{{ url_for('session_info') }}">session info</a>
  </p>
  <p></p>
  <p>
    <a href="{{ url_for('index') }}">index</a>
  </p>
  <p></p>
  <p>g.user: "{{ g.user }}"</p>
  <p></p>
  <form action="/addresses" method="get">
    <p>
      <input
          type=submit
          value=addresses_get>
    </p>
  </form>
  <p></p>
  <form action="/addresses" method="post">
    <p>
      <input
          name="name"
          placeholder="name"
          required
          type="text">
    </p>
    <p>
      <input
          name="email"
          placeholder="email"
          required
          type="email">
    </p>
    <p>
      <input
          name="tel"
          placeholder="tel"
          required
          type="tel">
    </p>
    <p>
      <input
          type=submit
          value=addresses_post>
    </p>
  </form>
  <p></p>
{% endblock %}
